<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>LMS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">STIGE: LMS</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <% if(log){ %>
          <li><a href="/">HOME</a></li>
          <li><a href="/profile">PROFILE</a></li>
          <li><a href="/courses">COURSES</a></li>
          <li><a href="/todo">TODO</a></li>
          <li><a href="/logout">LOGOUT</a></li>
          <% } %>
          <% if(!log) { %>
            <li><a href="/">HOME</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/register">REGISTER</a></li>
          <% } %>
        </ul>
    </div>
  </nav>
</head>

<body>
