<%- include('partials/header') %>


<div class="centered">
  <div class="container">
    <p class="lead">Courses</p>
    <hr>
    <a class="btn btn-lg" href="/l1" role="button">Lesson 1</a>
    <a class="btn btn-lg" href="/l2" role="button">Lesson 2</a>
    <a class="btn btn-lg" href="/l3" role="button">Lesson 3</a>
  </div>
</div>

<%- include('partials/footer') %>
