<%- include('partials/header') %>


<div class="centered">
  <div class="container">
    <h1 class="display-3">STIGE</h1>
    <p class="lead">LMS: Learning Mangement System</p>
    <hr>
  </div>
</div>

<%- include('partials/footer') %>
